# /etc/udev/rules.d/99-arduino.rules
#
# When a new serial USB device (Arduino/clone) is detected,
# find-arduino@<KERNELNAME>.service is started, e.g., find-arduino@ttyACM0.service.
# This runs as root via systemd -> no password prompt required.
SUBSYSTEM=="tty", KERNEL=="ttyACM[0-9]*", ACTION=="add", TAG+="systemd", ENV{SYSTEMD_WANTS}+="find-arduino@%k.service"
SUBSYSTEM=="tty", KERNEL=="ttyUSB[0-9]*", ACTION=="add", TAG+="systemd", ENV{SYSTEMD_WANTS}+="find-arduino@%k.service"
